.container-404{
    padding: 3vw 0;
}
.img-404{
    width:90%;
    margin: 0 auto;
    max-width: 600px;
}
.title-404{
    padding: 0 20px;
}
.h1-404{
    margin: 2vw 0 0;
    padding: 0 20px;
}
.h3-404{
    padding: 0 20px;
}
 