.after-register{

    &-fixed-logo{
        position: fixed;
        background-color: #311b92;
        width:40%;
        top:0;
        z-index: 3;
        height: 85px;
        padding:10px;
        text-align: left;

        img{
            height:80px;
            margin-left: 4vw;
        }
    }


    &-block{
        display: grid;
        position: relative;
        grid-template-columns: 40% 60%;
        min-height: 90vh;
        &-first{
            background-color: #311b92;
            color:#fefefe;
           
            &-inner{
                padding: 0 4vw;
                
                img{
                    max-width:50%;
                    margin: 2vw 0;
                    max-height: 400px;
                }
            }

            h1{
                font-size: 3em;
                font-weight: 600;
            }
            p{
                font-size: 1.5em;
            }
        }

        &-second{
            padding: 2vw 3vw 2vw 4vw;
            
            &-inner{
                
                width:100%;
                max-width: 900px;
                margin: 0 0 0 auto;
               

                &.shorter{
                    min-height: 45%;
                }
                &.longer{
                    min-height: 80%;
                }
              

                h1{
                    font-size: 2.5em;
                    font-weight: 500;
                    margin-top: 0;
                }
                p{
                    font-size: 1.5em;
                    padding: 0 5.1vw;
                }
            }
        }

    }

    &-line{
        background-color: #311b92;
        width:95%;
        margin: 0 auto;
        height:3px;
    }

    &-btn{
        display: block;
        margin: 0 0 0 auto;
        background-color: #311b92;
        color:#fefefe;
        border-radius: 30px;
        border:none;
        font-size: 20px;
        width:190px;
        height:55px;
        cursor: pointer;
    }
    &-span{
        display: block;
        margin: 0 0 0 auto;
        width:190px;
        cursor: pointer;
        margin-top: 15px;
        text-decoration: underline;
        color:gray;
    }
       
}

.back-btn{
        width:161px;
        height:44px;
        display: block;
        margin: 0 auto 40px 0;
        border:none;
        border-radius: 5px;
        background-color: #311B92;
        color:#fefefe;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
}

.changing-content{
    height:100%;
}
.invisible{
    top:122px;
    position: absolute;
    opacity: 0;
    right:3vw;
    z-index: -1;
}