.after-register{

    &-fixed-logo{
        position: fixed;
        background-color: #311b92;
        width:40%;
        top:0;
        z-index: 3;
        height: 85px;
        padding:10px;
        text-align: left;

        img{
            height:80px;
            margin-left: 4vw;
        }
    }


    &-block{
        display: grid;
        position: relative;
        grid-template-columns: 40% 60%;
        min-height: 90vh;
        &-first{
            background-color: #311b92;
            color:#fefefe;
           
            &-inner{
                padding: 0 4vw;
                height:100%;
                
                &-img{
                    min-height: 50%;

                    img{
                        max-width:50%;
                        margin: 2vw 0;
                        max-height: 400px;
                    }
                }
                
            }

            h1{
                font-size: 3em;
                font-weight: 600;
            }
            p{
                font-size: 1.5em;
            }
        }

        &-second{
            padding: 2vw 3vw 2vw 4vw;
          
            
            &-inner{
                
                width:100%;
                max-width: 900px;
                margin: 0 0 0 auto;
               

                &.shorter{
                    min-height: 45%;
                }
                &.longer{
                    min-height: 65%;
                }
              

                h1{
                    font-size: 2.5em;
                    font-weight: 500;
                    margin-top: 0;
                }
                p{
                    font-size: 1.5em;
                    padding: 0 5.1vw;
                }
            }
        }

    }

    &-line{
        background-color: #311b92;
        width:95%;
        margin: 0 auto;
        height:3px;
    }

    &-btn{
        display: block;
        margin: 0 0 0 auto;
        background-color: #311b92;
        color:#fefefe;
        border-radius: 30px;
        border:none;
        font-size: 20px;
        width:190px;
        height:55px;
        cursor: pointer;
    }
    &-span{
        display: block;
        margin: 0 0 0 auto;
        width:190px;
        cursor: pointer;
        margin-top: 15px;
        text-decoration: underline;
        color:gray;
    }

    &-inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4vw auto 0;
        padding-right: 4vw;

        &.third-section{
            height:60px;
        }
    }

    &-input-wrapper{
        display: flex;
        margin-top: 20px;

        label{
            display: block;
            font-weight: 500;
            margin-right: 8px;
            font-size: 22px;
            width:190px;
            text-align: right;
        }

        input{
            border:none;
            border-radius: 25px;
            padding:4px;
            background-color: #F2F2F2;
            max-width: 100px;
            text-align: center;
            font-size: 16px;

            &::placeholder{
                color:#868686
            }
        }

        &.third-section{
            justify-content: center;
            
        }
    }

    &-card-wrapper{
        margin-top: 35px;
        display: flex;
        justify-content: space-around;
    }
       
    &-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 12px;
        width:130px;
        height:130px;
        background-color: #fff;
        color:black;
        cursor: pointer;
        img{
            width:55%;
            margin-bottom: 18px;
            max-height: 65px;
        }
        span{
            font-weight: 500;
        }

        &.active{
            background-color: #2F128E;
            color:#fefefe;
        }
    }

    &-tag-wrapper{

        &-inner{
           overflow: auto;

            label{
                display: flex;
                justify-content: center;
                align-items: center;
                width:250px;
                height: 50px;
                border-radius: 16px;
                margin: 15px;
                box-shadow: 0px 3px 6px #00000029;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}

.inner-scroll{
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    margin-bottom: 30px;
}

.back-btn{
        width:161px;
        height:44px;
        display: block;
        margin: 0 auto 40px 0;
        border:none;
        border-radius: 5px;
        background-color: #311B92;
        color:#fefefe;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
}

.changing-content{
    height:100%;
}
.invisible{
    top:122px;
    position: absolute;
    opacity: 0;
    right:3vw;
    z-index: -1;
}