.container-register {
  padding-top: 3vw;
}

@media (max-width: 1000px) {
  .container-register {
    padding: 0;
  }
}

.register-form {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto 0;
  position: relative;
  border-radius: 15px;
  overflow-x: hidden;
}

.register-form-1st {
  background-color: #3b1ca3;
  height: 620px;
  border-radius: 15px 0 0 15px;
  color: #fefefe;
  padding: 0 3vw 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: left;
}

.register-form-1st-p {
  text-align: left;
  letter-spacing: 1.2px;
  line-height: 20px;
}

.register-form-2nd {
  background-color: #fefefe;
  height: 620px;
  padding: 2vw 4vw;
  border-radius: 0 15px 15px 0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

.register-form .btn {
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .register-form {
    border-radius: 0;
  }
  .register-form-1st {
    border-radius: 0;
  }
  .register-form-2nd {
    border-radius: 0;
    border: none;
    padding-top: 50px;
  }
  .register-form .btn {
    margin-top: 30px;
  }
}

@media (max-width: 680px) {
  .register-form {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .register-form-1st {
    height: auto;
    padding: 40px 8vw;
  }
  .register-form-2nd {
    height: auto;
    margin: 0 auto;
  }
  .register-form .btn {
    margin: 30px auto 15px;
  }
}

.text-with-vertical-line {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 80px;
  padding-left: 12px;
  position: relative;
  height: 115px;
}

.text-with-vertical-line::before {
  content: '';
  height: 100%;
  background-color: #fefefe;
  width: 4px;
  position: absolute;
  left: -8px;
}

@media (max-width: 840px) {
  .text-with-vertical-line {
    font-size: 24.5px;
  }
}

@media (max-width: 680px) {
  .text-with-vertical-line {
    margin-bottom: 20px;
    font-size: 28px;
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .text-with-vertical-line {
    margin-bottom: 20px;
    font-size: 22px;
    padding-right: 0;
  }
}

/***************** ANIMATION ************************/
@-webkit-keyframes goDown3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  33% {
    -webkit-transform: translateY(-111px);
            transform: translateY(-111px);
    opacity: 0;
  }
  66% {
    -webkit-transform: translateY(-222px);
            transform: translateY(-222px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-333px);
            transform: translateY(-333px);
    opacity: 0;
  }
}
@keyframes goDown3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  33% {
    -webkit-transform: translateY(-111px);
            transform: translateY(-111px);
    opacity: 0;
  }
  66% {
    -webkit-transform: translateY(-222px);
            transform: translateY(-222px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-333px);
            transform: translateY(-333px);
    opacity: 0;
  }
}

@-webkit-keyframes goDown4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  33% {
    -webkit-transform: translateY(-111px);
            transform: translateY(-111px);
    opacity: 1;
  }
  66% {
    -webkit-transform: translateY(-222px);
            transform: translateY(-222px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-333px);
            transform: translateY(-333px);
    opacity: 1;
  }
}

@keyframes goDown4 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  33% {
    -webkit-transform: translateY(-111px);
            transform: translateY(-111px);
    opacity: 1;
  }
  66% {
    -webkit-transform: translateY(-222px);
            transform: translateY(-222px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-333px);
            transform: translateY(-333px);
    opacity: 1;
  }
}

.anim-text-register {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.anim-text-register-child {
  height: 111px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b1, .b3 {
  -webkit-animation-name: goDown3;
          animation-name: goDown3;
}

.b2, .b4 {
  -webkit-animation-name: goDown4;
          animation-name: goDown4;
}

input[type=email].input-1, .input-1 {
  display: block;
  width: 100%;
  margin: 18px 0 18px;
  border-radius: 5px;
  height: 40px;
  border: none;
  border: 1px solid lightgray;
  background-color: transparent;
  padding: 0 8px;
  font-size: 16px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

input[type=email].input-1::-webkit-input-placeholder, .input-1::-webkit-input-placeholder {
  color: #7a7a7a;
}

input[type=email].input-1:-ms-input-placeholder, .input-1:-ms-input-placeholder {
  color: #7a7a7a;
}

input[type=email].input-1::-ms-input-placeholder, .input-1::-ms-input-placeholder {
  color: #7a7a7a;
}

input[type=email].input-1::placeholder, .input-1::placeholder {
  color: #7a7a7a;
}

.title-with-underline {
  margin: 0 auto 2.5vw;
  width: 100%;
  max-width: 330px;
  border-bottom: 3px solid #3b1ca3;
  font-size: 36px;
  color: #3b1ca3;
  font-weight: 600;
  padding: 0 0 10px 0;
}

@media (max-width: 680px) {
  .title-with-underline {
    font-size: 34px;
  }
}

.captcha-fb-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.captcha, .btn-fb {
  width: 47%;
  height: 45px;
  border-radius: 5px;
}

.captcha {
  border: 1px solid black;
}

.btn-fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #03a9f4;
  color: #fefefe;
  padding: 6px 6px 6px 3px;
  cursor: pointer;
  border: none;
}

.btn-fb span {
  font-size: 15px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.btn-fb img {
  width: 35px;
  height: 20px;
}

.btn-fb:hover {
  background-color: #3f5fa3;
}

.checkbox-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.checkbox-and-text p {
  margin: 0;
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
  color: gray;
}

.register-checkbox {
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.register-checkbox input:checked {
  background-color: #3b1ca3;
}

.not-important-text.register {
  margin: 0;
  margin-top: 10px;
}

@media (max-width: 680px) {
  .not-important-text.register {
    margin-bottom: 18px;
  }
}

input:focus, textarea:focus, select:focus {
  outline: none;
}
/*# sourceMappingURL=register.css.map */