.big-container1 {
    width: 100%;
    max-width: 1300px;
    background: #fefefe;
    margin: 30px auto;
    text-align: left;
    box-sizing: border-box;
    padding: 1vw 0;
    position: relative;
      /*.select::after{
         
          background-size: cover;
          right:10px;
          top:10px;
          display: inline-block;
          width: 20px; 
          height: 20px;
          content:"";
          position: absolute;
      }*/
  }
  .big-container-inner{
        width:95%;
        margin: 0 auto;
  }
  
 
  .big-container1 .text {
    display: inline-block;
    margin-right: 10px;
  }
  
  .big-container1 select {
    border-radius: 10px;
    background-color: #eae6ff;
    background-image: url("../../images/strzala.svg");
    background-size: 12px 16px;
    background-repeat: no-repeat;
    background-position: right 18px top calc(50%);
    border: none;
    width: 200px;
    font-size: 16px;
    color:gray;
    height: 45px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    margin: 10px;
    padding-left: 20px;
  }
  
  .big-container1 .select {
    position: relative;
  }
  .sort-block{
      display: flex; 
      flex-wrap: wrap;
      margin-bottom: 30px;

      
  }
  .sort{
      display: flex;
      justify-content: center;
      align-items: center;
      @media(max-width: 675px){
        
      }

      &.first{
        margin-right: 20px;
    }
  }
  
  .big-container1 .single-item {
    display: inline-block;
    width: 278px;
    height: 4   45px;
    margin: 15px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid lightgray;
    box-sizing: border-box;
    padding: 30px 20px 20px 20px;
    position: relative;
  }
  .item-image-area{
      width:230px;
      height:230px;
      background-color: #eae6ff;
      justify-content: center;
      align-items: center;
      display: flex;
      position: relative;
      margin: 0 auto;
      border-radius: 10px;
  }
  .single-item{
      .btn{
          margin-top: 10px;
          width:210px;
          height:38px;
          font-size: 18px;
          color:#fefefe;
          background-color:#08a4ff;
      }
      h2{
          font-size: 15px;
          font-weight: 400;
          margin-bottom: 0;
      }
  }
  .item-main-image{
      img{
        max-width:90%;
        max-height: 215px;
      }  
  }
  .item-flying-images{
      position: absolute;
      display: flex;
      flex-direction: column;
      top:25px;
      left:-17.5px;

      img{
          width:30px;
      }
  }
  .item-flying-image-child{
      display: flex;
      align-items: center;
      justify-content: center;
      width:35px;
      height:35px;
      background-color: #eae6ff;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px -10px rgba(0,0,0,0.75);
    margin-bottom: 8px;
    cursor: pointer;
  }

  
  .big-container1 .single-item.margin-bottom {
    margin-bottom: 300px;
  }
  .btn1 {
    width: 84%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    border: none;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    background-color: #300cfa;
    color: white;
    font-size: inherit;
    text-decoration: none;


  }
  
  a {
    text-decoration: none;
  }
  
  .line-through-text {
    display: inline-block;
    text-decoration: line-through;
    margin: 5px;
  }
  .container-offers{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  
  .normal-text {
    
    margin-top: 5px;
  }
  
  .shown-offer {
    width: 100%;
    font-size: 1em;
    border-top: 4px solid lightgray;
    border-bottom: 4px solid lightgray;
    position: absolute;
    left: 0;
    padding: 1vw;
    box-sizing: border-box;
  }
  
  .shown-offer h1, .shown-offer h2 {
    display: inline-block;
    margin: 10px;
  }
  
  .shown-offer .btn1 {
    width: 50%;
    max-width: 150px;
    border-radius: 35px;
    display: inline-block;
    height: 45px;
    margin: 10px;
  }
  
  .shown-offer span {
    color: gray;
  }
  
  .shown-offer-grid {
    display: grid;
  }
  
  .shown-offer-mini-img {
    display: inline-block;
    margin: 1vw 10px 2vw;
    position: relative;
    left: calc(-50% + 69px);
    top: 1px;
    border-radius: 20px;
  }
  
  .shown-offer-mini-img img {
    width: 35px;
  }
  
  .shown-offer-mini-img:nth-child(2) {
    background: #efefef;
    padding-right: 10px;
  }
  
  .shown-offer-mini-img:nth-child(2) span {
    position: relative;
    top: -11px;
  }
  
  .user-family-title-box {
    margin: 0px auto;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fefefe;
    background: #020024;
    background: linear-gradient(270deg, #020024 0%, #08086d 0%, #080870 0%, #090975 0%, #19087d 0%, #290685 0%, #7600eb 100%);
  }
  
  .user-family-title-box .btn1 {
    background: transparent;
    width: 170px;
    font-size: .8em;
    height: 45px;
    margin: 0 auto;
    border: 3px solid #fefefe;
    
    
    border-radius: 25px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
  }
  
  .user-family-title-box .btn1:first-child {
    margin-top: 10px;
  }
  
  .user-family-title-box .btn1:hover {
    background: #fefefe;
    color: purple;
  }
  
  .types-of-offer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 0 2vw;
    width:100%;
    overflow: auto;
  }
  .user-family-title-box-text {
    text-align: left;
  }
  .single-type-label{
      width:150px;
      margin: 0 10px;
  }
  
  @media (min-width: 1001px) {
    .shown-offer-grid {
      grid-template-columns: 30% 70%;
    }
    .shown-offer-description {
      padding-right: 9vw;
    }
    .shown-offer-img img {
      width: 100%;
      max-height: 400px;
    }
    .description-of-item {
      position: absolute;
      top: 2%;
      right: 12%;
      width: 50%;
    }
    .description-of-item button {
      display: inline-block;
      margin-right: 15px;
    }
    .description-of-item a, .description-of-item p {
      display: inline-block;
    }
    .description-of-item h2 {
      margin-top: 0;
    }
    .main-img {
      left: calc(175px - 50%);
      width: 350px;
      height: 320px;
    }
    .comments {
      display: inline-block;
      width: 45%;
      margin-left: auto;
      height: 250px;
    }
    .add-comment {
      width: 45%;
      height: 250px;
      position: relative;
      bottom: 80px;
      display: inline-block;
    }
 
   
    .margin-bottom {
      height: 590px;
    }
    .user-family-title-box {
      grid-template-columns: 20% 80%;
      height: 180px;
      grid-template-columns: 70% 30%;
      padding-left: 3vw;
    }
  }
  
  @media (max-width: 1000px) {
    .shown-offer-img {
      margin-top: 4vw;
    }
    .shown-offer-img img {
      min-width: 60%;
      max-width: 60%;
      max-height: 300px;
    }
    .shown-offer-description {
      margin: 5vw 0;
    }
    .description-of-item {
      position: absolute;
      top: 2%;
      right: 4%;
      width: 50%;
    }
    .description-of-item button {
      display: inline-block;
      margin-right: 15px;
    }
    .description-of-item a, .description-of-item p {
      display: inline-block;
    }
    .description-of-item h2 {
      margin-top: 0;
    }
    .main-img {
      left: calc(165px - 50%);
      width: 330px;
    }
    .comments {
      display: inline-block;
      width: 45%;
      margin-left: auto;
      height: 250px;
    }
    .add-comment {
      width: 45%;
      height: 250px;
      position: relative;
      bottom: 80px;
      display: inline-block;
      text-align: center;
    }
    .single-type-label {
      max-width: 160px;
    }
    .margin-bottom {
      height: calc(550px + 14vw);
    }
    .user-family-title-box {
      grid-template-columns: 20% 80%;
      height: 180px;
      grid-template-columns: 60% 40%;
      padding-left: 3vw;
    }
  }
  @media (min-width: 901px){
      .special{
          padding-top: 0vh;
      }
  }
  @media (max-width: 700px) {
    .main-img {
      left: 0;
      width: 75%;
      max-width: 350px;
      height: 320px;
    }
    .description-of-item {
      position: static;
      width: 100%;
    }
    .description-of-item p, .description-of-item a {
      display: block;
    }
    .comments {
      display: inline-block;
      width: 90%;
    }
    .add-comment {
      position: static;
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
    .single-type-label {
      max-width: 160px;
    }
    .user-family-title-box {
      font-size: .8rem;
      height: 180px;
      grid-template-columns: 60% 40%;
      padding-left: 3vw;
    }
  }
  
  @media (max-width: 560px) {
    .shown-offer-img img {
      max-width: 85%;
    }
    .margin-bottom {
      height: calc(730px + 14vw);
    }
    .user-family-title-box {
      height: auto;
      grid-template-columns: 100%;
      font-size: .9em;
      padding: 0 15px 30px 15px;
      row-gap: 0;
    }
  }
  
  .mini-imgs {
    display: block;
    text-align: left;
  }
  
  .main-img {
    position: relative;
  }
  
  
  
 /* button {
    background: lightgray;
    border: none;
    border-radius: 25px;
    width: 40%;
    min-width: 140px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
  }*/
  
  .flying-img {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 25px;
    height: 25px;
  }
  
  
  
  .mini-img {
    background: lightgray;
    border-radius: 10px;
    display: inline-block;
    max-width: 120px;
    margin: 2%;
    padding: 2px 10px;
    font-size: 25px;
  }
  
  .comments {
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    height: 440px;
    overflow: auto;
  }
  
  .comments h2 {
    margin-bottom: 10px;
  }
  
  .comments .comment {
    width: 80%;
    background: #eeeeee;
    border-radius: 20px;
    margin: 10px 0 10px auto;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  
  .comments .comment b {
    text-align: left;
  }
  
  .comments .comment img {
    width: 40px;
    height: 40px;
    position: relative;
    left: -45px;
    border-radius: 100px;
  }
  
  .with-bottom-line {
    border-bottom: 3px solid purple;
  }
  
  .with-top-line {
    border-top: 3px solid purple;
  }
  
  .with-top-line, .with-bottom-line {
    width: 90%;
    height: 50px;
    margin: 0 auto;
  }
  
  #add-comment {
    resize: none;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
  }
  
  .add-comment-btn {
    margin: 10px auto;
    display: block;
  }
  
  
  
  .blur {
    filter: blur(7px);
  }
  
  .exit {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  
  .line-under-text {
    font-size: 2em;
    border-bottom: 3px solid #660091;
    width: 100%;
    margin: 20px 0 0;
    max-width: 400px;
  }

  
  .types-of-offer h3 {
    font-weight: 300;
  }
  
  .single-type-label {
    display: block;
    border-radius: 15px;
    text-align: center;
    background: #ebebeb;
    cursor: pointer;
    height: 155px;
    padding-top: 20px;
  }
  
 
  
  input:checked + label {
    background: #7b00bd;
    color: #fefefe;
  }
  
  .single-type label::before {
    width: 2222px;
  }
  
  /*.single-type:nth-child(1) label::before {
    content: url("./ikony/agd.png");
  }
  
  .single-type:nth-child(1) input:checked + label::before {
    content: url("./ikony/agd-white.png");
  }
  
  .single-type:nth-child(2) label::before {
    content: url("./ikony/dziecko.png");
  }
  
  .single-type:nth-child(2) input:checked + label::before {
    content: url("./ikony/dziecko-white.png");
  }
  
  .single-type:nth-child(3) label::before {
    content: url("./ikony/elektronika.png");
  }
  
  .single-type:nth-child(3) input:checked + label::before {
    content: url("./ikony/elektronika-white.png");
  }
  
  .single-type:nth-child(4) label::before {
    content: url("./ikony/fundusz.png");
  }
  
  .single-type:nth-child(4) input:checked + label::before {
    content: url("./ikony/fundusz-white.png");
  }
  
  .single-type:nth-child(5) label::before {
    content: url("./ikony/leasing.png");
  }
  
  .single-type:nth-child(5) input:checked + label::before {
    content: url("./ikony/leasing-white.png");
  }
  
  .single-type:nth-child(6) label::before {
    content: url("./ikony/smoczek.png");
  }
  
  .single-type:nth-child(6) input:checked + label::before {
    content: url("./ikony/smoczek-white.png");
  }*/
  
  .hot {
    position: absolute;
    left: 0;
    top: 79px;
  }
  
  .hot img {
    z-index: 1;
    cursor: pointer;
  }
  
  @keyframes showHots {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .hot-anime {
    animation-name: showHots;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: absolute;
    box-sizing: border-box;
    left: -30px;
    min-width: 55px;
    height: 35px;
    padding: 4px;
    padding-right: 25px;
    top: 6px;
    font-size: 15px;
    background: #efefef;
    text-align: left;
    border-radius: 10px;
    padding-top: 7px;
  }
  
  .none {
    display: none;
  }
  
  .exit-flying {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 6%;
    max-width: 30px;
    cursor: pointer;
  }
  
  .exit-flying img {
    width: 100%;
  }
  
  .blue-text {
    color: #08a4ff;
    font-weight: 600;
    font-size: 20px;
  }
  
  .gray-text {
    color: gray;
  }
  

  
  .pointer {
    cursor: pointer;
  }
  
  .increase, .decrease {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #efefef;
    border-radius: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    top: -35px;
    opacity: 0;
  }
  
  .increase {
    color: green;
  }
  
  .decrease {
    color: red;
  }
  
  @keyframes up {
    0% {
      transform: translateX(0px);
      opacity: 1;
    }
    100% {
      transform: translateY(-65px);
      opacity: 0;
    }
  }
  
  .up {
    animation-name: up;
    animation-duration: 3s;
  }
  
  .report {
    width: 100%;
    max-width: 450px;
    height: 500px;
    background: #fefefe;
    position: fixed;
    top: 10vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 0px 10px 37px -13px rgba(0, 0, 0, 0.35);
  }
  
  .report .rep-label {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 75%;
    max-width: 205px;
    border: 2px solid purple;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    margin: 45px auto;
    cursor: pointer;
  }
  
  .report .btn1 {
    width: 150px;
    border-radius: 50px;
  }
  
  .report .rep-img {
    width: 170px;
  }
  
  .report .exit-flying {
    right: 20px;
    top: 15px;
  }
  
  .report .exit-flying .img {
    width: 20px;
  }
  
  .purple-text {
    color: #660091;
    font-weight: 300;
  }

  @keyframes FadingProductAddedInfo {
    0%{
      opacity: 0;
    }
    15%{
      opacity: 1;
    }
    85%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

  .product-added-info{
    position: fixed;
    width:300px;
    height:100px;
    display: flex;
    right:10px;
    top:92px;
    font-size: 16px;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    background-color: #7c27e3;
    color:#fefefe;

    @media(max-width: 850px){
      top:60px;
    }
    @media(max-width: 315px){
      right:0;
      left:0;
      margin: 0 auto;
    }

    animation-name: FadingProductAddedInfo;
    animation-duration: 2.7s;
    animation-fill-mode: forwards;

    &-icon{   
      font-size: 38px;
      margin-right: 25px;
    }
   
  }
  